// SERVICE :: PERSON
.contact-person
  .contact-person__bg.wow
    img(src='img/ingmarBg.jpg' srcset='img/ingmarBg@2x.jpg 2x')
  .contact-person__waves
    include ../../inline-svg/heroWaves.svg
  .container
    .contact-person__wrapper
      .contact-person__name.wow(data-animation-delay=".2s") Ingmar Bergmann
      .contact-person__desc.wow(data-animation-delay=".3s") Die digitale Transformation ist überall im Munde. Wir helfen Ihnen dabei Ihre Prozesse, die rundum Ihres Produkt sind, zu verbessern und helfen bei der Schulung Ihrer Experten.
      //card contact
      a(href="mailto:support@bergmann-infotech.de" data-animation-delay=".4s").card.card--contact.card--mailer.wow
        .card__content
          .card__content-wrap
            .card__title E-Mail
            .card__desc.c-white60 support@bergmann-infotech.de
          .card__content-icon
            i.icon.icon-email-grad
