// SERVICE :: CONTENT
.service-content
  .container
    .list-row
      // list el
      .list-el
        .list-heading.wow
          .list-heading__num 01
          .list-heading__name Unser effektives Spektrum:
        p.wow Ein vollständige Softwarelösung benötigt eine Menge Wissen in verschiedenen Teilgebieten. Da der Product Owner eine genaue Schätzung
        ul.list-marked.wow
          li Beratung
          li Individuelle Entwicklung 
          li Datenaggregation und -aufbereitung
      // list el
      .list-el
        .list-heading.wow
          .list-heading__num 02
          .list-heading__name Valet ballet dolor
        p.wow Ein vollständige Softwarelösung benötigt eine Menge Wissen in verschiedenen Teilgebieten. Da der Product Owner eine genaue Schätzung benötigt, kann unseres Team vereint schätzen.
        ul.list-marked.wow
          li Software Architekt
          li Web- und Software-Entwickler
          li System- / Datenbankadministratoren
          li Data-Scientists 
      // list el
      .list-el
        .list-heading.wow
          .list-heading__num 03
          .list-heading__name Unsere Tools
        p.wow Diese Tools verwenden wir täglich für eure Projekte.
        .list-logos
          .list-logos__image
            img(src='img/logo1.png' srcset='img/logo1@2x.png 2x')
          .list-logos__image
            img(src='img/logo2.png' srcset='img/logo2@2x.png 2x')
          .list-logos__image
            img(src='img/logo3.png' srcset='img/logo3@2x.png 2x')
          .list-logos__image
            img(src='img/logo4.png' srcset='img/logo4@2x.png 2x')
          .list-logos__image
            img(src='img/logo5.png' srcset='img/logo5@2x.png 2x')

      // list el
      .list-el
        .list-heading.wow
          .list-heading__num 04
          .list-heading__name Valet ballet dolor
        p.wow Das Team verfügt über jahrelange Erfahrung in der Entwicklung. Die Qualifikationen werden kontinuierlich verbessert und zertifiziert um der Innovation Stand zu halben. In folgenden Bereichen können wir nachweislich zeigen: 
        ul.list-marked.wow
          li Java Certified Developer
          li Google Analytics IQ
