.services-blog

  .container
    // PAGE TITLE
    .page-title.page-title--narrow
      .page-title__wrap
        .page-title__wrap-titles
          h2.page-title__main.wow Beiträge
          .page-title__desc.wow(data-animation-delay='.2s') Hier finden Sie unsere Beiträge über <br>verschiedene Themen.
        .page-title__wrap-cta.wow(data-animation-delay=".5s" data-animation-class="wowFadeRight")
          a(href="blog.html").more-link
            span Alle Beiträge
          
    // blog grid
    .blog-grid
      .blog-col.wow(data-animation-delay=".1s")
        a(href="#").blog-card
          .blog-card__image
            img(src='img/blogCard-1.png' srcset='img/blogCard-1@2x.png 2x')
          .blog-card__title Wie unterscheiden sich User Experience Design (UX) und User Interface Design (UI)?
        
      .blog-col.wow(data-animation-delay=".2s")
        a(href="#").blog-card
          .blog-card__image
            img(src='img/blogCard-2.png' srcset='img/blogCard-2@2x.png 2x')
          .blog-card__title Mobile Präsenz in den Google- Suchergebnissen bedeutet heute Existenz

      .blog-col.wow(data-animation-delay=".3s")
        a(href="#").blog-card
          .blog-card__image
            img(src='img/blogCard-empty.png' srcset='img/blogCard-empty@2x.png 2x')
          .blog-card__title Ein weitere Artikel kommt demnächst.
          
      .blog-col.wow(data-animation-delay=".4s")
        a(href="#").blog-card
          .blog-card__image
            img(src='img/blogCard-empty.png' srcset='img/blogCard-empty@2x.png 2x')
          .blog-card__title Ein weitere Artikel kommt demnächst.
          
