
.more-cards
  .container
    // PAGE TITLE
    .page-title.page-title--narrow
      h2.page-title__main.wow <span>bit</span>.Pakete
      .page-title__desc.wow(data-animation-delay='.2s') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labor

.cards-grid.wow(data-animation-delay=".35s")
  .container
    div(js-masonry)
      // grid sizer is required for responsive masonry
      .grid-sizer
      a(href="development.html").card.card--purple-bg
        .card__bg
          img(src='img/cardDevBg.png' srcset='img/cardDevBg@2x.png 2x')
        .card__content
          .card__content-wrap
            .card__title <span>bit</span>.Development
            .card__desc Hochintelligente Lösungen
          .card__content-icon
            +icon('ico-arrow')
      //card
      a(href="design.html").card.card--white-bg
        .card__bg
          img(src='img/cardDesignBg.png' srcset='img/cardDesignBg@2x.png 2x')
        .card__content.card__content--black
          .card__content-wrap
            .card__title <span>bit</span>.Design
            .card__desc.c-gray  Wir gestallten Ihren Erfolg
          .card__content-icon
            +icon('ico-arrow')
      //card
      a(href="operation.html").card.card--dark-bg
        .card__bg
          img(src='img/cardOperationBg.png' srcset='img/cardOperationBg@2x.png 2x')
        .card__content.card__content--black
          .card__content-wrap
            .card__title <span>bit</span>.Operation
            .card__desc Gänsehaut vor Go-Live...
          .card__content-icon
            +icon('ico-arrow')
      //card
      a(href="support.html").card.card--white-bg
        .card__bg
          img(src='img/cardSupportBg.png' srcset='img/cardSupportBg@2x.png 2x')
        .card__content
          .card__content-wrap
            .card__title.c-black <span>bit</span>.Support
            .card__desc.c-gray  WReaktionen verringern und mehr Zeit...
          .card__content-icon.c-black
            +icon('ico-arrow')
      //card
      a(href="marketing.html").card
        .card__bg
          img(src='img/cardPerson1Bg.jpg' srcset='img/cardPerson1Bg@2x.jpg 2x')
        .card__content.card__content--fixed
          .card__content-wrap
            .card__title Kontakte
            .card__desc Ingmar Bergmann
          .card__content-icon
            +icon('ico-arrow')
      
      //card contact map
      a(href="mailto:support@bergmann-infotech.de").card.card--contact
        .card__bg
          img(src='img/cardImpressiumBg.jpg' srcset='img/cardImpressiumBg@2x.jpg 2x')
        .card__content.card__content--fixed
          .card__content-wrap
            .card__title Impressum
            .card__desc support@bergmann-infotech.de
          .card__content-icon
            i.icon.icon-slack-grad    
      //card
      a(href="marketing.html").card
        .card__bg
          img(src='img/cardMarketingBg.png' srcset='img/cardMarketingBg@2x.png 2x')
        .card__content.card__content--fixed
          .card__content-wrap
            .card__title <span>bit</span>.Marketing
            .card__desc.c-white60  Wir machen die Marke bekannt
          .card__content-icon
            +icon('ico-arrow') 
      //card
      a(href="consulting.html").card.card--white-bg
        .card__bg
          img(src='img/cardConsultingBg.png' srcset='img/cardConsultingBg@2x.png 2x')
        .card__content.card__content--fixed
          .card__content-wrap
            .card__title.c-black <span>bit</span>.Consulting
            .card__desc.c-gray Das Optimum zeigen
          .card__content-icon.c-black
            +icon('ico-arrow') 
      //card contact map
      a(href="contact.html").card.card--contact
        .card__bg
          img(src='img/cardMap1Bg.jpg' srcset='img/cardMap1Bg@2x.jpg 2x')
        .card__content.card__content--fixed
          .card__content-wrap
            .card__desc Am Wallgraben 99, 70565 Stuttgart 
