---
title: Blog inner
headerClass: is-white is-black-fixed
---
extends shared/_layout
block content
  
  // SERVICE :: HERO
  .hero.hero--black.hero--blog
    .hero__waves
      include ../inline-svg/heroWaves.svg
    .container
      .hero__wrapper
        // PAGE TITLE
        .hero__title.hero__title--wide.page-title.page-title--white
          h1.page-title__main.wow Wie kann man eine gute Webseite erstellen?
          .blog__hero-desc.wow(data-animation-delay='.2s') Lesezeit ist circa <span class="c-blue">2 Minuten.</span> Keine Zeit jetzt zu lesen? Kein Problem! Dann share es und lies das später durch.
          .social-links.wow(data-animation-delay=".4s")
            a(href="#" target="_blank").social-link.social-link--linkedin
              +icon('ico-social-linkedin')
            a(href="#" target="_blank").social-link.social-link--xing
              +icon('ico-social-xing')
            a(href="#" target="_blank").social-link.social-link--facebook
              +icon('ico-social-facebook')
              
              
  // CONTACT
  .blog-content
    .container
      // content section
      .blog-content__section.wow
        .blog-content__wrapper.blog-content__wrapper--hero
          .blog-content__col
            img(src='img/blogSectionHero-1.png' srcset='img/blogSectionHero-1@2x.png 2x')
          .blog-content__col
            h2 UI/UX Design. Checkliste für Webseite.
            p Das beste User Experience Design ist wertlos ohne ein gutes User Interface Design und verkehrt.
            p Das Schnittstellendesign ist die wichtigste Phase der Webseitenerstellung. 
            p Die folgende Checkliste fasst die 7 Grundprinzipien der erfolgreichen UI/UX Webseitengestaltung zusammen. 
            img(src='img/blogContentPlaceholder-1.png')
      // content section
      .blog-content__section.wow
        h2 Überprüfen Sie, ob ihre Webseite den Forderungen entspricht: 
        .blog-content__wrapper.blog-content__wrapper--reverse
          .blog-content__col
            img(src='img/blogSectionHero-2.png')
          .blog-content__col
            h3 Das KISS-Prinzip «Keep It Short and Simple”
            ul
              li Das Interface ist verständlich und einfach 
              li Um eine Aufgabe zu lösen, braucht man die geringste Aktionenanzahl
              li Die Logik dieser Aktionen ist für den Benutzer offensichtlich
      // content section
      .blog-content__section.wow
        .blog-content__wrapper
          .blog-content__col
            img(src='img/blogSectionHero-3.png')
          .blog-content__col
            h3 Das Bewährte ist oft besser als das Trendige
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea album. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      // content section
      .blog-content__section.wow
        .blog-content__wrapper.blog-content__wrapper--reverse
          .blog-content__col
            img(src='img/blogSectionHero-4.png')
          .blog-content__col
            h3 Das Bewährte ist oft besser als das Trendige
            ul
              li Trends werden zielbezogen ausgewählt und verwendet. 
              li Trends werden zielbezogen ausgewählt und verwendet. 
              li Trends werden zielbezogen ausgewählt und verwendet. 
      // content section
      .blog-content__section.wow
        .blog-content__wrapper
          .blog-content__col
            img(src='img/blogSectionHero-5.png')
          .blog-content__col
            h3 Das Bewährte ist oft besser als das Trendige
            ul
              li Trends werden zielbezogen ausgewählt und verwendet. 
              li Trends werden zielbezogen ausgewählt und verwendet. 
              li Trends werden zielbezogen ausgewählt und verwendet. 
      // content section
      .blog-content__section.wow
        .blog-content__wrapper.blog-content__wrapper--hero
          .blog-content__col
            img(src='img/blogSectionHero-1.png' srcset='img/blogSectionHero-1@2x.png 2x')
          .blog-content__col
            h2 UI/UX Design. Checkliste für Webseite.
            p Das beste User Experience Design ist wertlos ohne ein gutes User Interface Design und verkehrt.
            p Das Schnittstellendesign ist die wichtigste Phase der Webseitenerstellung. 
            p Die folgende Checkliste fasst die 7 Grundprinzipien der erfolgreichen UI/UX Webseitengestaltung zusammen. 
            img(src='img/blogSectionHero-6.png')
            
  include components/_services-blog
  
  include components/_services-bottom
