---
title: CASE
headerClass: is-hidden is-black-fixed
---
extends shared/_layout

block content
  
  // SERVICE :: HERO
  .hero.hero--black.hero--case
    .hero__bg-image.wow(data-animation-delay="1s" data-animation-class="wowBlur" data-animation-name="wowBlurUp")
      img(src='img/casePageBg.jpg' srcset='img/casePageBg@2x.jpg 2x')
      
    .hero__waves
      include ../inline-svg/heroWaves.svg
    .container
      .hero__wrapper
        a.hero__close(href="portfolio.html" data-animation-delay="1.5s" data-animation-class="wowFadeRight").wow
          +icon('ico-close')
        // PAGE TITLE
        .hero__title.page-title.page-title--white
          h1.page-title__main.wow Ivonin Design
          .page-title__sub.wow(data-animation-delay='.2s') Die digitale Transformation ist überall im Munde. Wir helfen Ihnen dabei Ihre Prozesse, die rundum Ihres Produkt sind, zu verbessern und helfen bei der Schulung Ihrer Experten. 

  // CASE CONTENT
  .case
    .container
      // row
      .case__row
        .case__col
          .case__image.wow(data-animation-delay=".2s")
            img(data-src='img/cases/caseImage1.jpg' data-srcset='img/cases/caseImage1@2x.jpg 2x' js-lazy data-4-3)
        .case__col.case__col--bottom
          .case__image.wow
            img(data-src='img/cases/caseImage2.jpg' data-srcset='img/cases/caseImage2@2x.jpg 2x' js-lazy data-4-3)
      // row
      .case__row
        .case__col
          .case__image.wow
            img(data-src='img/cases/caseImage3.jpg' data-srcset='img/cases/caseImage3@2x.jpg 2x' js-lazy data-4-3)
          .case__image.wow
            img(data-src='img/cases/caseImage4.jpg' data-srcset='img/cases/caseImage4@2x.jpg 2x' js-lazy data-4-3)
        .case__col
          .case__image.wow(data-animation-delay=".2s")
            img(data-src='img/cases/caseImage5.jpg' data-srcset='img/cases/caseImage5@2x.jpg 2x' js-lazy data-4-3)  
      // row
      .case__row
        .case__col
          .case__image.wow(data-animation-delay=".2s")
            img(data-src='img/cases/caseImage6.jpg' data-srcset='img/cases/caseImage6@2x.jpg 2x' js-lazy data-4-3)
        .case__col
          .case__image.wow
            img(data-src='img/cases/caseImage7.jpg' data-srcset='img/cases/caseImage7@2x.jpg 2x' js-lazy data-4-3)
          .case__image.wow
            img(data-src='img/cases/caseImage8.jpg' data-srcset='img/cases/caseImage8@2x.jpg 2x' js-lazy data-4-3)
      // row
      .case__row
        .case__col
          .case__image.wow(data-animation-delay=".2s")
            img(data-src='img/cases/caseImage9.jpg' data-srcset='img/cases/caseImage9@2x.jpg 2x' js-lazy data-4-3)
        .case__col
          .case__image.wow
            img(data-src='img/cases/caseImage10.jpg' data-srcset='img/cases/caseImage10@2x.jpg 2x' js-lazy data-4-3)
          .case__image.wow
            img(data-src='img/cases/caseImage11.jpg' data-srcset='img/cases/caseImage11@2x.jpg 2x' js-lazy data-4-3)
      
  // MORE CARDS TITLE
  .more-cards.wow
    .container
      // PAGE TITLE
      .page-title.page-title--narrow
        h2.page-title__main.wow Projekte
        
  // PORFTOLIO CARDS    
  .cards-grid.wow(data-animation-delay=".35s")
    .container
      div(js-masonry)
        // grid sizer is required for responsive masonry
        .grid-sizer
        a(href="case.html" js-modal-case).card.card--case
          .card__bg
            img(src='img/cardCase1.jpg' srcset='img/cardCase1@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title Case
              .card__desc.c-gray Coole App
            .card__content-icon
              +icon('ico-arrow')
        //card
        a(href="case.html" js-modal-case).card.card--case
          .card__bg
            img(src='img/cardCase2.jpg' srcset='img/cardCase2@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title Case
              .card__desc.c-gray YourWork
            .card__content-icon
              +icon('ico-arrow')
        //card
        a(href="case.html" js-modal-case).card.card--case
          .card__bg
            img(src='img/cardCase3.jpg' srcset='img/cardCase3@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title Case
              .card__desc.c-gray Ivonin Design
            .card__content-icon
              +icon('ico-arrow')
        //card
        a(href="case.html" js-modal-case).card.card--case
          .card__bg
            img(src='img/cardCase4.jpg' srcset='img/cardCase4@2x.jpg 2x')
          .card__content.card__content--black.card__content--fixed
            .card__content-wrap
              .card__title Case
              .card__desc.c-gray Golden Tulip Rosa Kh
            .card__content-icon
              +icon('ico-arrow')
        //card
        a(href="contact.html").card
          .card__bg
            img(src='img/cardPerson1Bg.jpg' srcset='img/cardPerson1Bg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title Kontakte
              .card__desc Ingmar Bergmann
            .card__content-icon
              +icon('ico-arrow')
        
        //card
        a(href="karriere.html").card.card--white-bg
          .card__bg
            img(src='img/cardKarriereBg.jpg' srcset='img/cardKarriereBg@2x.jpg 2x')
          .card__content.card__content--black
            .card__content-wrap
              .card__title Karriere
              .card__desc.c-gray Wir suche Dich
            .card__content-icon.c-gray
              +icon('ico-arrow')
              
        //card contact map
        a(href="mailto:support@bergmann-infotech.de").card.card--contact
          .card__bg
            img(src='img/cardImpressiumBg.jpg' srcset='img/cardImpressiumBg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title Impressum
              .card__desc support@bergmann-infotech.de
            .card__content-icon
              i.icon.icon-slack-grad    
        
        //card
        a(href="contact.html").card
          .card__bg
            img(src='img/cardPerson2Bg.jpg' srcset='img/cardPerson2Bg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title.c-black Kontakte
              .card__desc.c-gray Grigory N.
            .card__content-icon.c-gray
              +icon('ico-arrow')
        //card contact map
        a(href="contact.html").card.card--contact
          .card__bg
            img(src='img/cardMap1Bg.jpg' srcset='img/cardMap1Bg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__desc Am Wallgraben 99, 70565 Stuttgart 
