---
title: Consulting
headerClass: is-white is-black-fixed
---
extends shared/_layout
block content
  
  // SERVICE :: HERO
  .hero.hero--black
    .hero__circle.wow(data-animation-delay="1s" data-animation-class="wowBlur" data-animation-name="wowBlurUp")
    .hero__waves
      include ../inline-svg/heroWaves.svg
    .container
      .hero__wrapper.hero__wrapper--with-image
        // PAGE TITLE
        .hero__title.page-title.page-title--white
          h1.page-title__main.wow <span>bit</span>.Consulting
          .page-title__sub.wow(data-animation-delay='.2s') Reaktionen verringern und mehr Zeit gewinnen...

        .hero__image.wow(data-animation-delay=".8s")
          include ../inline-svg/min/heroConsulting.svg
    
  include components/_services-content
  include components/_ingmar
  include components/_services-bottom
