---
title: Design
headerClass: is-white
---
extends shared/_layout
block content
  
  // SERVICE :: HERO
  .hero.hero--purple-bg
    .container
      .hero__wrapper
        // PAGE TITLE
        .hero__title.page-title.page-title--white
          h1.page-title__main.wow <span>bit</span>.Design
          .page-title__sub.wow(data-animation-delay='.2s') Die digitale Transformation ist überall im Munde. Wir helfen Ihnen dabei Ihre Prozesse, die rundum Ihres Produkt sind, zu verbessern und helfen bei der Schulung Ihrer Experten. 
        
        .hero__image
          include ../inline-svg/min/heroDev.svg
    
  
  include components/_services-bottom
