---
title: Homepage
---
extends shared/_layout
block content
  
  // HOME TITLE
  .home-title
    .home-title__bg.wow(data-animation-delay='1.6s')
      .container(js-animeHomeBg)
        include ../inline-svg/home-title-bg.svg
    .container
      // PAGE TITLE
      .page-title
        h1.page-title__main.wow Wir begleiten Sie <br> bei Ihrem Aufstieg 
        .page-title__sub.wow(data-animation-delay='.2s') Ein Ort, wo intelligente Lösungen mit durchdachtem Design erstellt werden.
      
  
  // HOME GRID
  .cards-grid.wow(data-animation-delay="1.25s")
    .container
      // HOW TO MODIFY CARD
      // 1) .card modifiers classes are used to set whole card background
      // 2) .card--contact modifier does set different nested styles (font-size, paddings)
      // 3) when .card__bg image should be overlayed with content below, use .card__content--fixed to fix content as pos: absolute
      // 4) .card__content--black only sets bg-color
      // 5) Defalt content color is WHITE! style induvidual colors as .c-black, .c-gray , etc.. cause it's a lot things going on there..
      div(js-masonry)
        // grid sizer is required for responsive masonry
        .grid-sizer
        // card 
        a(href="development.html").card.card--purple-bg
          .card__bg
            img(src='img/cardDevBg.png' srcset='img/cardDevBg@2x.png 2x')
          .card__content
            .card__content-wrap
              .card__title <span>bit</span>.Development
              .card__desc Hochintelligente Lösungen
            .card__content-icon
              +icon('ico-arrow')
        //card
        a(href="design.html").card.card--white-bg
          .card__bg
            img(src='img/cardDesignBg.png' srcset='img/cardDesignBg@2x.png 2x')
          .card__content.card__content--black
            .card__content-wrap
              .card__title <span>bit</span>.Design
              .card__desc.c-gray  Wir gestallten Ihren Erfolg
            .card__content-icon
              +icon('ico-arrow')
        //card contact 
        a(href="mailto:support@bergmann-infotech.de").card.card--contact
          .card__content
            .card__content-wrap
              .card__title E-Mail
              .card__desc.c-gray support@bergmann-infotech.de
            .card__content-icon
              i.icon.icon-email-grad
        //card
        a(href="portfolio.html").card
          .card__bg
            img(src='img/cardPortfolioBg.png' srcset='img/cardPortfolioBg@2x.png 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title Portfolio
              .card__desc.c-gray So haben wir's gemacht
            .card__content-icon
              +icon('ico-arrow')
        //card
        a(href="consulting.html").card.card--white-bg
          .card__bg
            img(src='img/cardConsultingBg.png' srcset='img/cardConsultingBg@2x.png 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title.c-black <span>bit</span>.Consulting
              .card__desc.c-gray Das Optimum zeigen
            .card__content-icon.c-black
              +icon('ico-arrow')
        
        
        // KIND of new row
        // refactor here! 
        
        //card contact 
        a(href="tel:(03 42 23) 4 32 11").card.card--contact
          .card__content
            .card__content-wrap
              .card__title (03 42 23) 4 32 11
              .card__desc.c-gray Ruft uns an
            .card__content-icon
              i.icon.icon-phone-grad
        //card
        a(href="support.html").card.card--white-bg
          .card__bg
            img(src='img/cardSupportBg.png' srcset='img/cardSupportBg@2x.png 2x')
          .card__content
            .card__content-wrap
              .card__title.c-black <span>bit</span>.Support
              .card__desc.c-gray  WReaktionen verringern und mehr Zeit...
            .card__content-icon.c-black
              +icon('ico-arrow')
        //card contact map
        a(href="contact.html").card.card--contact
          .card__bg
            img(src='img/cardMap1Bg.jpg' srcset='img/cardMap1Bg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__desc Am Wallgraben 99, 70565 Stuttgart 
        //card
        a(href="operation.html").card.card--dark-bg
          .card__bg
            img(src='img/cardOperationBg.png' srcset='img/cardOperationBg@2x.png 2x')
          .card__content.card__content--black
            .card__content-wrap
              .card__title <span>bit</span>.Operation
              .card__desc Gänsehaut vor Go-Live...
            .card__content-icon
              +icon('ico-arrow')
              
        //card contact 
        a(href="https://slack.com" target="_blank").card.card--contact
          .card__content
            .card__content-wrap
              .card__title Slack
              .card__desc Klick für unsere Slack- Service
            .card__content-icon
              i.icon.icon-slack-grad 
        //card
        a(href="marketing.html").card
          .card__bg
            img(src='img/cardMarketingBg.png' srcset='img/cardMarketingBg@2x.png 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title <span>bit</span>.Marketing
              .card__desc.c-white60  Wir machen die Marke bekannt
            .card__content-icon
              +icon('ico-arrow')  

        //card
        a(href="events.html").card
          .card__bg
            img(src='img/cardEventBg.jpg' srcset='img/cardEventBg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title.c-black Geschichte
              .card__desc.c-gray  Was heißt überhaupt bit?
            .card__content-icon.c-black
              +icon('ico-arrow')    
        //card contact map
        a(href="contact.html").card.card--contact
          .card__bg
            img(src='img/cardMap2Bg.jpg' srcset='img/cardMap2Bg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__desc Pretzscher Straße 37, 04880 Dommitzsch
        
        
        // KIND of last row
      
        //card
        a(href="contact.html").card
          .card__bg
            img(src='img/cardPerson1Bg.jpg' srcset='img/cardPerson1Bg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title Kontakte
              .card__desc Ingmar Bergmann
            .card__content-icon
              +icon('ico-arrow')
        //card
        a(href="karriere.html").card.card--white-bg
          .card__bg
            img(src='img/cardKarriereBg.jpg' srcset='img/cardKarriereBg@2x.jpg 2x')
          .card__content.card__content--black
            .card__content-wrap
              .card__title Karriere
              .card__desc.c-gray Wir suche Dich
            .card__content-icon.c-gray
              +icon('ico-arrow')

        //card
        a(href="contact.html").card
          .card__bg
            img(src='img/cardPerson2Bg.jpg' srcset='img/cardPerson2Bg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title.c-black Kontakte
              .card__desc.c-gray Grigory N.
            .card__content-icon.c-gray
              +icon('ico-arrow')
        //card contact map
        a(href="mailto:support@bergmann-infotech.de").card.card--contact
          .card__bg
            img(src='img/cardImpressiumBg.jpg' srcset='img/cardImpressiumBg@2x.jpg 2x')
          .card__content.card__content--fixed
            .card__content-wrap
              .card__title Impressum
              .card__desc support@bergmann-infotech.de
            .card__content-icon
              i.icon.icon-slack-grad
