---
title: Impressum
headerClass: is-white is-black-fixed
---
extends shared/_layout
block content
  
  // SERVICE :: HERO
  .hero.hero--black
    .hero__waves
      include ../inline-svg/heroWaves.svg
    .container
      .hero__wrapper
        // PAGE TITLE
        .hero__title.page-title.page-title--white
          h1.page-title__main.wow Impressum
          

  // CONTACT
  .impressum
    .container
      .impressum__wrapper
        // contact content
        .contact-content__head Bergmann Infotech GmbH 
        p HQ: Pretzscher Straße 38 <br> 04880 Dommitzsch
        p Am Wallgraben 99 <br> 70563 Stuttgart
        a(href="tel:(03 42 23) 4 32 11").contact-content__row
          i.icon.icon-phone-grad
          span Tel (03 42 23) 4 32 11
        a(href="tel:(03 42 23) 4 32 22").contact-content__row
          i.icon.icon-list-li
          span Tel (03 42 23) 4 32 22
        p Service: <a href="mailto:service@bergmann-infotech.de">service@bergmann-infotech.de</a>
        p HRB: 2051 Leipzig
        p Geschäftsführer: Ingmar Bergmann
          
        // list el
        .impressum__paragraph
          .list-heading.wow
            .list-heading__name Informationen auf unserer Website
          p.wow Unser Informationsangebot ist unverbindlich und wird fortlaufend überarbeitet und aktualisiert. Bitte haben Sie Verständnis dafür, dass wir uns vorbehalten müssen, jederzeit ohne vorherige Ankündigung das Angebot zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung einzustellen.
        // list el
        .impressum__paragraph
          .list-heading.wow
            .list-heading__name Haftung für Inhalte
          p.wow Wir aktualisieren und überarbeiten fortlaufend die Informationen auf unserer Webpräsenz. Trotz aller Sorgfalt können sich Fakten kurzfristig ändern. Eine Haftung oder Garantie für die jederzeitige Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen kann daher nicht übernommen werden. Wir sind gemäß § 7 Absatz 1 TMG für eigene Inhalte auf unseren Internetseiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir nicht verpflichtet, übermittelte oder gespeicherte Fremdinformationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. 
          p Die Verpflichtung zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleibt hiervon unberührt. Wir haften für solche fremden Informationen erst, wenn wir Kenntnis von einer rechtswidrigen Handlung oder einer Information haben und wenn uns im Falle von Schadensersatzansprüchen, Tatsachen oder Umstände bekannt sind, aus denen die rechtswidrige Handlung oder Information offensichtlich wird, es sei denn, wir wären unverzüglich tätig geworden, nachdem wir Kenntnis erlangt haben, um die Informationen zu entfernen und den Zugang zu sperren. 
          p Bei Bekanntwerden nachgewiesener Rechtsverletzungen werden wir solche Inhalte umgehend entfernen. Sollten Sie auf eine aus Ihrer Sicht unrichtige, veraltete oder unvollständige Information aufmerksam werden, freuen wir uns, wenn Sie uns darauf hinweisen.
        // list el
        .impressum__paragraph
          .list-heading.wow
            .list-heading__name Haftung für Inhalte
          p.wow Wir aktualisieren und überarbeiten fortlaufend die Informationen auf unserer Webpräsenz. Trotz aller Sorgfalt können sich Fakten kurzfristig ändern. Eine Haftung oder Garantie für die jederzeitige Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen kann daher nicht übernommen werden. Wir sind gemäß § 7 Absatz 1 TMG für eigene Inhalte auf unseren Internetseiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir nicht verpflichtet, übermittelte oder gespeicherte Fremdinformationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. 
          p Die Verpflichtung zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleibt hiervon unberührt. Wir haften für solche fremden Informationen erst, wenn wir Kenntnis von einer rechtswidrigen Handlung oder einer Information haben und wenn uns im Falle von Schadensersatzansprüchen, Tatsachen oder Umstände bekannt sind, aus denen die rechtswidrige Handlung oder Information offensichtlich wird, es sei denn, wir wären unverzüglich tätig geworden, nachdem wir Kenntnis erlangt haben, um die Informationen zu entfernen und den Zugang zu sperren. 
          p Bei Bekanntwerden nachgewiesener Rechtsverletzungen werden wir solche Inhalte umgehend entfernen. Sollten Sie auf eine aus Ihrer Sicht unrichtige, veraltete oder unvollständige Information aufmerksam werden, freuen wir uns, wenn Sie uns darauf hinweisen.
