---
title: Karriere
headerClass: is-white is-black-fixed
---
extends shared/_layout
block content
  
  // SERVICE :: HERO
  .hero.hero--black
    .hero__bg-image.wow(data-animation-delay="1s" data-animation-class="wowBlur" data-animation-name="wowBlurUp")
      img(src='img/karrierePageBg.jpg' srcset='img/karrierePageBg@2x.jpg 2x')
    .hero__waves
      include ../inline-svg/heroWaves.svg
    .container
      .hero__wrapper
        // PAGE TITLE
        .hero__title.page-title.page-title--white
          h1.page-title__main.wow Karriere
          .page-title__sub.wow(data-animation-delay='.2s') Reaktionen verringern und mehr Zeit gewinnen...


  // SERVICE :: CONTENT
  .service-content
    .container
      .list-row
        // list el
        .list-el.wow(data-animation-delay=".2s")
          .list-heading
            .list-heading__num 01
            .list-heading__name bit.Design sucht Senior Art Director <br> in Stuttgart		
          .list-readmore(js-readmore)
            p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten. 

          //card contact
          a(href="mailto:support@bergmann-infotech.de" data-animation-delay=".4s").card.card--contact.card--mailer-white.wow
            .card__content
              .card__content-wrap
                .card__title Quick Bewerbung
                .card__desc.c-gray Bewirb Dich heute noch
              .card__content-icon
                i.icon.icon-email-grad
        
        // list el
        .list-el.wow(data-animation-delay=".2s")
          .list-heading
            .list-heading__num 02
            .list-heading__name bit.Development sucht Senior Java Entwickler <br> in Stuttgart	
          .list-readmore(js-readmore)
            p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten. 

          //card contact
          a(href="mailto:support@bergmann-infotech.de" data-animation-delay=".4s").card.card--contact.card--mailer-white.wow
            .card__content
              .card__content-wrap
                .card__title Quick Bewerbung
                .card__desc.c-gray Bewirb Dich heute noch
              .card__content-icon
                i.icon.icon-email-grad

        // list el
        .list-el.wow(data-animation-delay=".2s")
          .list-heading
            .list-heading__num 03
            .list-heading__name bit.Design sucht Senior Art Director <br> in Stuttgart	
          .list-readmore(js-readmore)
            p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten. 

          //card contact
          a(href="mailto:support@bergmann-infotech.de" data-animation-delay=".4s").card.card--contact.card--mailer-white.wow
            .card__content
              .card__content-wrap
                .card__title Quick Bewerbung
                .card__desc.c-gray Bewirb Dich heute noch
              .card__content-icon
                i.icon.icon-email-grad


  include components/_services-bottom
