---
title: Marketing
headerClass: is-white
---
extends shared/_layout
block content
  
  // SERVICE :: HERO
  .hero.hero--blue-bg
    .hero__waves
      include ../inline-svg/heroWaves.svg
    .container
      .hero__wrapper
        // PAGE TITLE
        .hero__title.page-title.page-title--white
          h1.page-title__main.wow <span>bit</span>.Marketing
          .page-title__sub.wow(data-animation-delay='.2s') Wir machen die Marke bekannt
          
        .hero__image.wow(data-animation-delay=".8s")
          include ../inline-svg/min/heroMarketing.svg
    
  include components/_services-content
  include components/_grigory
  include components/_services-bottom
