---
title: Purposal
headerClass: is-white is-black-fixed
---
extends shared/_layout
block content
  
  // SERVICE :: HERO
  .hero.hero--black
    .hero__waves
      include ../inline-svg/heroWaves.svg
    .container
      .hero__wrapper
        // PAGE TITLE
        .hero__title.hero__title--wide.page-title.page-title--white
          h1.page-title__main.wow bit.Design sucht Senior Art Director in Stuttgart

  // CONTACT
  .purposal
    .container
      .purposal__wrapper
        form(action="#").purposal-form
          .purposal-form__row
            // col
            .purposal-form__col
              .purposal-form__head
                .purposal-form__title Ich bewerbe mich bei
                .purposal-form__position bit.Design
              .ui-group
                label Anrede
                .ui-checkbox-row
                  .ui-checkbox
                    input(type="checkbox" id="gender_1")
                    label(for="gender_1")
                      span Herr
                  .ui-checkbox
                    input(type="checkbox" id="gender_2")
                    label(for="gender_2")
                      span Frau  
                      
              .ui-input-dynamic
                label Ihre E-Mail
                input(type="email" name="email")
          
            // col
            .purposal-form__col
              .ui-group
                select(js-selectric)
                  option bit.Design
                  option bit.Marketing
                  option bit.Development
                  option bit.Support
                  option bit.Consulting
                  option bit.Operation
                  
              .ui-input-dynamic
                label Vorname und Nachname
                input(type="text" name="name")
              .ui-input-dynamic
                label Telefon
                input(type="tel" name="phone")

          .ui-input-dynamic.ui-input-dynamic--two-labels
            label.label-fade Label message after placeholder removal
            label Du bist einzigartig, toll und einfach wunderbar und willst unbedingt bei uns arbeiten? Dann schreib uns kurz was dich besonders macht und wieso auch du uns kennenlernen willst. Wir freuen uns auch über Links zu deinen Profilen auf Xing, LinkedIn und Co. Say Servus!
            textarea(name="text" rows="6" data-min-rows="6").js-autoExpand   
          
          .ui-group.purposal-form__agree
            .ui-checkbox
              input(type="checkbox" id="agree" checked)
              label(for="agree")
                span Ich akzeptiere die elektronische Speicherung meiner Daten gemäß den Datenschutzbestimmungen.*  
                
          .purposal-form__cta
            button(type="submit").card.card--contact.card--mailer-black
              .card__content
                .card__content-wrap
                  .card__title Anfrage schicken
                  .card__desc.c-white60 Kotenlose Beratung anfordern
                .card__content-icon
                  i.icon.icon-email-grad
                        
  // SERVICE :: CONTENT
  .service-content
    .container
      .list-row.list-row--no-pad
        // list el
        .list-el.wow(data-animation-delay=".2s")
          .list-heading
            .list-heading__name Was wir suchen		
          p Einen Design-Junkie, der in der digitalen Welt zuhause ist und sich bestend mit der kreativen Entwicklung von deviceübergreifenden Web-Applikationen sowie inspirierender
          ul.list-marked
            li Einen Design-Junkie, der in der digitalen Welt zuhause ist und sich bestend mit der kreativen Entwicklung von deviceübergreifenden Web-Applikationen sowie inspirierender und konvertierender Digital-Werbung auskennt.
            li Einen feinfühligen User-Experten, der sich in verschiedenen Nutzergruppen hineinversetzen und datenbasierte Insights zielgerichtet in spannende visuelle Stories verwandeln kann. Du hast dabei bereits Erfahrung mit Testing & Personalisierung gesammelt? Umso besser!
            li Wir brennen für geile Kreation und Performance KPIs - Du auch!
      
        // list el
        .list-el.wow(data-animation-delay=".2s")
          .list-heading
            .list-heading__name Was Du mitbringst
          p Einen Design-Junkie, der in der digitalen Welt zuhause ist und sich bestend mit der kreativen Entwicklung von deviceübergreifenden Web-Applikationen sowie inspirierender
          ul.list-marked
            li Abgeschlossenes Design-Studium oder eine vergleichbare Ausbildung.
            li Mindestens 4-5 Jahre Berufserfahrung als Art Director oder einer vergleichbaren Position.
            li Du beherrschst die gängigen Grafik-Programme blind und hast Erfahrungen mit Prototyping-/Wireframing-Tools wie z.B. Adobe Experience Design und Sketch. Animation und Video sind auch keine operative Herausforderung für dich? Jackpot!
            li Abgeschlossenes Design-Studium oder eine vergleichbare Ausbildung.
            li Mindestens 4-5 Jahre Berufserfahrung als Art Director oder einer vergleichbaren Position.
            li Du beherrschst die gängigen Grafik-Programme blind und hast Erfahrungen mit Prototyping-/Wireframing-Tools wie z.B. Adobe Experience Design und Sketch. Animation und Video sind auch keine operative Herausforderung für dich? Jackpot!

  include components/_services-bottom
