.case
  position: relative
  z-index: 5
  margin-top: -160px

  &__row
    display: flex
    margin-left: -7px
    margin-right: -7px
    margin-bottom: 30px
  &__col
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding: 0 7px
    &--bottom
      justify-content: flex-end

  &__image
    position: relative
    overflow: hidden
    border-radius: 20px
    font-size: 0
    margin-bottom: 10px
    box-shadow: 0px 30px 30px rgba(black, .15)
    img
      width: 100%
