.contact
  width: 100%
  position: relative
  z-index: 5
  margin-top: -220px
  margin-bottom: 60px
  &__wrapper
    display: flex
    align-items: flex-start
    width: 100%

.contact-form
  flex: 0 1 525px
  background-image: linear-gradient(134deg, #F5FBFD 0%, #FFFFFF 100%)
  box-shadow: 0 30px 30px 0 rgba(0,0,0,0.12)
  border-radius: 20px
  padding: 35px 40px 0 40px
  &__head
    position: relative
    font-family: $monster
    font-weight: 900
    font-size: 20px
    &-icon
      position: absolute
      top: -10px
      right: 0
      color: rgba(#7B7F84, .05)
      font-size: 64px

  &__subtitle
    margin-top: 10px
    font-size: 14px
    font-weight: 500

  &__content
    margin-top: 40px

  &__cta
    text-align: right
    .card
      margin: 0
      margin-top: 10px
      margin-bottom: -40px

.contact-content
  flex: 0 0 auto
  padding-top: 250px
  padding-left: 120px
  &__head
    font-family: $monster
    font-weight: 900
    font-size: 20px
  &__row
    display: flex
    align-items: center
    font-family: $monster
    font-weight: 500
    font-size: 16px
    margin: 1em 0

    .icon
      flex: 0 0 25px
    .icon-phone-grad
      transform-origin: left center
      transform: scale(.75)
    span
      display: inline-block
      margin-left: 10px
      transition: .25s $ease
  a.contact-content__row
    &:hover
      color: $colorPrimary

  p
    font-size: 16px
    line-height: 1.37
    color: #7B7F84
    font-weight: 400
    a
      transition: .25s $ease
      &:hover
        color: $colorPrimary

+r($desktop)
  .contact-content
    padding-left: 50px

+r(850)
  .contact
    &__wrapper
      flex-direction: column

  .contact-form
    flex: 0 0 auto
    width: 100%
  .contact-content
    flex: 0 0 auto
    padding-top: 100px
    padding-left: 0

+r($mobile)
  .contact
    margin-top: -150px
    margin-bottom: 0
  .contact-form
    margin-left: -30px
    margin-right: -30px
    border-radius: 0
    width: calc(100% + 60px)
