/* HERO
.hero
  position: relative
  overflow: hidden

  &--purple-bg
    background-image: linear-gradient(134deg, #3023AE 0%, #8A4FC6 59%, #C86DD7 100%)
  &--blue-bg
    background-image: linear-gradient(25deg, #3CAAC4 0%, #7CD2E6 56%, #B4EC51 100%)
  &--black
    background-image: linear-gradient(127deg, #292A2C 0%, #28282A 100%)
  &--portfolio
    background-image: url('../img/portfolioPageBg.jpg'), linear-gradient(127deg, #292A2C 0%, #28282A 100%)
    background-repeat: no-repeat, no-repeat
    background-position: 80% top, center
    background-size: cover, cover
    .hero__wrapper
      padding-bottom: 120px
      min-height: 630px
    .hero__title
      max-width: 595px
  &--case
    .hero__title
      padding-top: 0px
      margin-top: -10px

  &__wrapper
    display: flex
    align-items: flex-start
    padding-top: 50px
    padding-bottom: 60px
    min-height: 560px

  > .container
    position: relative
    z-index: 3

  &__title
    padding-top: 130px
    flex: 0 1 50%
    &--wide
      flex-basis: 80%
  &__image
    flex: 0 1 50%
    display: flex
    align-items: center
    justify-content: center
    img, svg
      max-width: 100%
    svg
      overflow: visible
    .anim-base
      ellipse, path, rect, circle
        opacity: 0
    .move-1
      // transform: translateY(100px)
  &__circle
    position: absolute
    top: 0
    right: 0
    size: 910px
    z-index: 1
    // transform: translate3d(8.5%,-45%,0)
    transform: translate3d(8.5%,-45%,0)
    background-image: linear-gradient(134deg, #F5FBFD 0%, #FFFFFF 100%)
    border-radius: 50%
  &__waves
    position: absolute
    bottom: -5px
    left: 0
    right: 0
    z-index: 2
    svg
      overflow: visible
      width: 105%
      margin-left: -2.5%
      margin-right: -2.5%
  &__bg-image
    position: absolute 0
    img
      z-index: 1
      min-width: 100%
      min-height: 100%
  &__close
    position: absolute
    top: 50px
    right: 40px
    size: 55px
    background: white
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    font-size: 18px
    color: $fontColor
    cursor: pointer
    &:hover
      svg
        transform: scale(1.3) rotate(180deg)

+r($wide)
  .hero
    &__circle
      size: 82vw
      transform: translate3d(15vw,-35vw,0)

+r($desktop)
  .hero
    &__wrapper
      flex-direction: column-reverse
      align-items: flex-start
      justify-content: flex-end
    &__circle
      display: none

    &__title
      flex: 0 0 auto
      // padding-top: 0
      margin-bottom: 50px
    &__image
      flex: 0 0 auto
      margin-left: auto
      margin-right: auto
      margin-top: 80px
      margin-bottom: 50px

+r($tablet)
  .hero
    &--case
      .hero__title
        padding-right: 50px


+r($mobile)
  .hero
    &__title
      margin-bottom: 0
    &__close
      position: absolute
      top: 60px
      right: 30px
      size: 45px
      font-size: 16px
    &__wrapper
      min-height: 480px
    &--case
      .hero__title
        margin-top: 10px
