.ico-arrow {
  width: 0.64em;
  height: 1em;
  fill: #FFF;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #29292B;
}
.ico-contact-box {
  width: 1.17em;
  height: 1em;
  fill: #7B7F84;
}
.ico-page-back {
  width: 0.63em;
  height: 1em;
  fill: #FFF;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-linkedin {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-xing {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
